
.{margin:0;padding:0;}


h1{
    font-size: 40px;
}
.ami{
    color: orange;
}
.harf-wit{
    float: left;
    width:30%;
}
.harf-withe img{
    float: right;
    width: 26%;
}
h2{
    font-size: 40px;
}
.link_batton{
    text-decoration: none;
     background-image:linear-gradient(yellow,red);
     padding: 10px 20px;
     border-radius: 5px;
     color: white;
     font-weight: bold;
}
section#top_banner{
    overflow: hidden;
}
#allblocks{ 

    background:#ddd ;
   width: 330px;
   padding: 15px;
}
    #section_title{
        text-align: center;
    }
    div#rightcontent{
        width: 250px;
    }
#lefticon{
    font-size: 50px;
    float: left;
    margin-top: 10px;
}
#rightcontent,#lefticon{display: inline-block;}