.{margin: 0;padding: 0;}
body{
    font-size: 20px;
 font-family: 'Caveat', cursive;

    line-height: 25px;
    color: #333;
}
h1,h2,h3,h4,h5,h6{font-family: arial black;}


h1{
    font-size: 40px;
}
.ami{
    color: orange;
}
.harf-wit{
    float: left;
    width:47%;
    margin-left:3%;
}
.harf-withe img{
    float: right;
    width: 30%;
    margin-right: 3%;
}
h2{
    font-size: 27px;
}
.link_batton{
    text-decoration: none;
     background-image:linear-gradient(yellow,red);
     padding: 10px 20px;
     border-radius: 5px;
     color: white;
     font-weight: bold;
}
section#top_banner{
    overflow: hidden;
}


#section_title{
    text-align: center;
    color: orange;
}
#lefticon{
    width: 400px;
    float: left;
    margin-left: 7%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 2%;
    height: 80%;
    background-color: white;
    border-left: 5px solid;
    border-image:linear-gradient(180deg,#7af3ff,tomato);
    border-image-slice:1 ;
}
h5{
    color: orange;}
    .border-sado{
        border-left: 5px solid;
        border-image:linear-gradient(180deg,blue,cyan);
        border-image-slice:1 ;
    }
    #section_gold{
        text-align: center;
        color: orange;
    }
    div#about_img {
        width: 200px;
        float: left;
        margin-top: 49px;
        box-shadow: 0px 0px 115px 1px green;
        border-radius: 2%;
        height: 80%;
    }
    
    div#aboutright {
        width: 700px;
        float: right;
    }
    
    div#allblok {
        margin-left: 3%;
        overflow: hidden;
    }
    #about_img,#aboutright{
        display: inline-block;
    }
.konihdg{
    color: brown;
}
footer{background: #333 ; color: white; text-align: center;}